# registry=https://registry.npmjs.org/
puppeteer-download-base-url="https://cdn.npmmirror.com/binaries/chrome-for-testing"
PUPPETEER_DOWNLOAD_HOST="https://cdn.npmmirror.com/binaries/chrome-for-testing"
PUPPETEER_DOWNLOAD_BASE_URL="https://cdn.npmmirror.com/binaries/chrome-for-testing"
package-lock=false