<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <!-- https://developer.mozilla.org/en-US/docs/Web/HTTP/CSP -->
    <!-- <meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self'; style-src 'self' 'unsafe-inline'"> -->
    <link href="./normalize.css" rel="stylesheet">
    <link href="./styles.css" rel="stylesheet">
        <!-- Import style -->
    <link rel="stylesheet" href="https://unpkg.com/element-plus/dist/index.css" />
    <!-- Import Vue 3 -->
    <script src="https://unpkg.com/vue@3"></script>
    <!-- Import component library -->
    <script src="https://unpkg.com/element-plus"></script>
    <title>Web转Pdf</title>
  </head>
  <body>
    <div id="app" v-loading="loading">
      <div class="title">
        <div class="title-value">设置抓取内容</div>
        <div class="tips">
          node-v:<span id="node-version"></span>-
        </div>
        <div class="tips">
          chrome-v:<span id="chrome-version"></span>-
        </div>
        <div class="tips">
          electron-v:<span id="electron-version"></span>-
        </div>
      </div>
      <el-form :model="formInline" :rules="rules" ref="ruleFormRef" class="form-inline">
        <el-form-item label="开始抓取" prop="site">
          <el-input
            v-model="formInline.site"
            placeholder="请输入登录网址:https?://"
            clearable>
        </el-input>
        </el-form-item>
        <el-form-item label="抓取类型" prop="type">
          <el-select
            v-model="formInline.type"
            placeholder="请选择抓取类型"
            clearable
          >
            <el-option v-for="(type, index) in types" :key="type.label" :label="type.label" :value="type.value" />
          </el-select>
        </el-form-item>
        <el-form-item>
          <el-button type="primary" @click="onSubmitGrasp" :disabled="configed">抓取设置</el-button>
          <el-button type="info" @click="onSavePdf" :disabled="!configed || pdfSaveing">保存页面</el-button>
          <el-button type="success" @click="onGraspDone" :disabled="!pdfSaveing || graspDoneIng">抓取完成</el-button>
        </el-form-item>
      </el-form>
    </div>
    <div class="info">
      <h1>Hello World!</h1>
      We are using Node.js <span id="node-version"></span>,
      Chromium <span id="chrome-version"></span>,
      and Electron <span id="electron-version"></span>.
    </div>
    <!-- You can also require other files to run in this process -->
    <script src="./renderer.js"></script>
  </body>
</html>
